@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

a {
    text-decoration: none;
}

.center {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    padding-bottom: 18px;
    padding-top: 18px;
    background-color: #222;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    margin-right: 11px;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__right {
    position: relative;
    font-size: 26px;
    color: #E8E8E8;

}

.header__icon {
    display: flex;
    align-self: center;
    margin-left: 30px;
}

.header__cart {
    position: relative;
}

.header__cart::after {
    content: "5";
    position: absolute;
    top: -9px;
    right: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    z-index: 10;
    background-color: #F16D7F;
    color: #FFF;
    font-size: 12px;
    border-radius: 15px;
}

.header__nav {
    position: absolute;
    top: -650px;
    right: -232px;
    padding: 32px;
    min-width: 232px;
    background-color: #fff;
    transition: top 1s;
    z-index: 100;
}

.header__item:hover {
    cursor: pointer;
}

.header__item:hover .header__icon path {
    fill: #F16D7F;
}

.header__burger:hover+.header__nav {
    top: 53px;
}

.nav__title {
    margin-bottom: 24px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}


.item__link {
    display: inline-block;
    margin-bottom: 12px;
    color: #F16D7F;
}

.sublist__item {
    margin-left: 20px;
    margin-bottom: 11px;
}

.sublist__item:last-child {
    margin-bottom: 20px;
}


.nav__item:last-child .sublist__item:last-child {
    margin-bottom: 0;
}

.sublist__link {
    color: #6F6E6E;
}

.list {
    list-style-type: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.main {
    margin-bottom: 65px;
    background-color: #F1E4E6;

}

.main__content {
    display: flex;
    align-items: center;
}

.main__img {
    margin-left: -230px;
    margin-right: 91px;
}

.main__title {
    position: relative;
    font-size: 48px;
    font-weight: 900;
    color: #222;
    line-height: 37px;
}

.main__title::before {
    position: absolute;
    top: -17.5%;
    left: -28px;
    content: "";
    height: 135%;
    width: 12px;
    background-color: #F16D7F;
}

.title__mini {
    font-size: 32px;
    font-weight: 700;
}

.title__pink {
    color: #F16D7F;
}

.topical {
    margin-bottom: 96px;
}

.topical__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topical__item {
    width: 32%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(33, 22, 22, 0.70);
    transition: background-color 1s ease-out;
    overflow: hidden;

}

.topical__item:hover {
    background-color: rgba(33, 22, 22, 1);
}

.topical__item_big {
    width: 100%;
    height: 180px;
    margin-top: 2%;
}

.topical__img {
    width: 100%;
    aspect-ratio: auto;
    z-index: -1;
    transition: all 1s ease-out;
}

.topical__title {
    position: absolute;
    text-align: center;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
}

.topical__subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.acquisitions__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.acquisitions__title {
    margin-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.acquisitions__text {
    margin-bottom: 48px;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.acquisitions__list {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acquisitions__item {
    position: relative;
    width: 32%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.img__block {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F3EDED;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}

.block__btn {
    display: none;
    position: absolute;
    padding: 11px 13px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 1px #FFF solid;
    transition: all .6s;
}

.btn__icon {
    margin-right: 11px;
}

.img__block:hover {
    background-color: rgba(58, 56, 56, 0.86);
    cursor: pointer;
}

.img__block:hover .item__photo {
    z-index: -1;
}

.img__block:hover .block__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.block__btn:hover {
    border-color: #F16D7F;
    background-color: #F16D7F;
}

.block__btn:active {
    background-color: #6F6E6E;
    border-color: #6F6E6E;
}

.item__photo {
    width: 100%;
}

.item__info {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.item__title {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;

}

.item__text {
    margin-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.acquisitions__btn {
    display: inline-block;
    margin-bottom: 60px;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    background-color: #fff;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    transition: all .6s;
}

.acquisitions__btn:hover {
    background-color: #FF6A6A;
    color: #fff;
    cursor: pointer;
}

.acquisitions__btn:active {
    background-color: #6F6E6E;
    border-color: #6F6E6E;
}

.advantages {
    padding: 103px 0;
    background-color: #222224;
    color: #FBFBFB;
}

.advantages__content {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.advantages__icon {
    margin-bottom: 28px;
}

.advantages__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}

.advantages__text {
    font-size: 14px;
    font-weight: 300;
}

.subscribe {
    padding: 97px 0 126px;
    background-image: url(img/subscribe.jpg);
    background-size: cover;
}

.subscribe__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__left {
    width: 32%;
    text-align: center;
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.subscribe__img {
    margin-bottom: 30px;
    border-radius: 100px;
}

.subscribe__right {
    width: 48%;
}

.subscribe__title {
    display: inline-block;
    margin-bottom: 32px;
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}



.subscribe__title_mini {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.subscribe__form {
    display: flex;

}

.subscribe__input {
    padding: 7px 12% 7px 22px;
    width: 48%;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 30px 0 0 30px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}

.subscribe__input:focus-visible {
    outline: none;
}

.subscribe__btn {
    padding: 7px 22px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #F16D7F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    transition: all .6s;
}

.subscribe__btn:hover {
    background-color: #5D5D5D;
    cursor: pointer;
}

.footer {
    padding: 23px 0;
    background-color: #222224;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.social__list {
    display: flex;
    list-style-type: none;
}



.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}

.social__icon path {
    transition: fill 0.3s ease-in;
}

.social__item:hover .social__link {
    background-color: #F16D7F;
}

.social__item:hover .social__icon path {
    fill: #fff;
}


@media (max-width: 1600px) {
    .header__nav {
        right: 0;
    }

}


@media (max-width: 1160px) {
    .center {
        padding-left: 2%;
        padding-right: 2%;
    }
}

/*           Yablet             */

@media (max-width: 1023px) {
    .center {
        min-width: 768px;
    }

    .main__img {
        margin-left: 0;
        margin-right: 67px;
        height: 368px;
    }

    .main__title {
        font-size: 44px;
        line-height: 30px;
    }

    .title__mini {
        font-size: 24px;
    }

    .topical {
        margin-bottom: 110px;
    }

    .topical__item {
        height: 167px;
    }

    .topical__img {
        width: 100%;
    }

    .topical__item_big {
        height: 116px;
    }

    .acquisitions__list {
        margin-bottom: 32px;
    }

    .acquisitions__item {
        width: 49%;
    }

    .acquisitions__title {
        margin-bottom: 3px;
    }

    .acquisitions__text {
        margin-bottom: 74px;
    }

    .acquisitions__btn {
        margin-bottom: 70px;
    }


    .advantages {
        padding: 48px 0 64px;
    }

    .advantages__content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .advantages__item {
        width: 48%;
        margin-bottom: 48px;
    }

    .advantages__item:last-child {
        margin-bottom: 0;
    }

    .subscribe {
        padding: 64px 0 140px;
    }

    .subscribe__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe__left {
        width: 47%;
        margin-bottom: 48px;
    }

    .subscribe__right {
        width: 72%;
        text-align: center;
    }

    .subscribe__form {
        justify-content: center;
    }
}

/*           Mobile             */

@media (max-width: 767px) {
    .center {
        min-width: 320px;
    }

    .header__nav {
        width: 100vw;
    }


    .header__item:active {
        cursor: pointer;
    }

    .header__item:active .header__icon path {
        fill: #F16D7F;
    }

    .header__burger:active+.header__nav {
        top: 50px;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav__item {
        width: 50%;
    }

    .header__user,
    .header__cart {
        display: none;
    }

    .main__content {
        min-height: 363px;
        justify-content: center;
    }

    .main__info {
        margin-left: 28px;
    }

    .main__img {
        display: none;
    }

    .main__title {
        font-size: 38px;
        line-height: 24px;
    }

    .title__mini {
        font-size: 20px;
    }

    .topical {
        margin-bottom: 32px;
    }

    .topical__content {
        justify-content: center;
        align-items: stretch;
    }

    .topical__item {
        margin-bottom: 4%;
        width: 100%;
        max-width: 400px;
        height: 248px;
    }

    .topical__item_big {
        margin-top: 0;
        height: 111px;
    }

    .acquisitions__text {
        margin-bottom: 64px;
    }

    .acquisitions__list {
        margin-bottom: 41px;
        justify-content: center;
    }

    .acquisitions__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 4%;
    }

    .acquisitions__btn {
        margin-bottom: 85px;
    }

    .advantages {
        padding-bottom: 81px;
    }

    .advantages__item {
        width: 100%;
        margin-bottom: 48px;
    }

    .subscribe {
        padding-bottom: 110px;
    }

    .subscribe__left,
    .subscribe__right {
        width: 100%;
    }

    .subscribe__input {
        width: 85%;
    }

    .footer {
        padding: 43px 0 9px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__text,
    .footer__social {
        width: 100%;
        text-align: center;
    }

    .footer__social {
        margin-bottom: 40px;
        order: -1;
    }

    .social__list {
        justify-content: center;
    }
}