%flexCenterCenter {
    @include flexCenterJustify(center);
}

%flexCenterBetween {
    @include flexCenterJustify(space-between);
}

%flexCenter {
    display: flex;
    align-items: center;
}

%fontStyle__300_14 {
    @include fontStyle(14px, 300, normal, normal);
}

%fontStyle__400_14 {
    @include fontStyle(14px, 400, normal, normal);
}

%fontStyle__400_16 {
    @include fontStyle(16px, 400, normal, normal);
}


%btn_hover {
    background-color: #FF6A6A;
    color: $colorSuperLight;
}

%btn_active {
    background-color: $colorNeutral;
    border-color: $colorNeutral;
}


%submitBtn {
    @extend %fontStyle__400_16;
    display: inline-block;
    border: 1px solid #FF6A6A;
    background-color: $colorSuperLight;
    color: $colorContrast;
    transition: all .6s;

    &:hover {
        @extend %btn_hover;
        cursor: pointer;
    }

    &:active {
        @extend %btn_active;
    }

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

a {
    text-decoration: none;
}

.center {
    max-width: $centerDesctopWidth;
    margin: 0 auto;
}