.cart {
    padding: 96px 0 128px;
    display: flex;
    justify-content: space-between;

    &__info {
        // display: flex;
        // flex-direction: column;
        width: 57%;

        &-list {
            list-style-type: none;
        }

        &-item {
            display: flex;
            box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
            transform: scale(1);
            transition: all .3s ease-in;

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                box-shadow: (27px 29px 34px rgba(0, 0, 0, 0.05));
            }

        }

        .item {

            &__info {
                width: 100%;
                padding: 22px;
                padding-left: 31px;

                &-heading {

                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 42px;

                }

                &-title {
                    @include fontStyle(24px, 400, normal, normal);
                    color: $bgColorDark;
                }

                &-list {
                    @include fontStyle (22px, 400, normal, normal);
                    list-style-type: none;
                    color: #575757;

                }
            }

            &__icon_close {
                margin-top: 5px;

                &:hover path {
                    fill: $colorContrast;
                }
            }

            &__img-box {
                @extend %flexCenterCenter;
            }

            &__img {
                height: 306px;
            }

            &__list {

                &-item {
                    display: flex;
                    align-items: center;

                    & input {
                        @include fontStyle(18px, 400, normal, normal);
                        margin-left: 24px;
                        padding: 1px 4px;
                        width: 44px;
                        border: 1px solid #EAEAEA;
                        text-align: center;
                        color: #656565;

                        &:focus-visible {
                            outline-color: $colorContrast;
                        }
                    }
                }

                &-item:not(:last-child) {
                    margin-bottom: 5px;
                }

                &-span {
                    margin-left: 4px;
                    color: $colorNeutral;

                    &_contrast {
                        color: $colorContrast;
                    }
                }
            }
        }




        &-box {
            @extend %flexCenterBetween;
            margin-top: 72px;
        }
    }

    &__btn {
        @extend %fontStyle__300_14;
        padding: 17px 40px;
        background-color: $colorSuperLight;
        border: 1px solid $colorNeutralText;
        color: #000;
        transition: all .3s ease-in-out;

        &:hover {
            @extend %btn_hover;
            cursor: pointer;
            border-color: $colorSuperLight;
        }

        &:active {
            @extend %btn_active;
        }
    }

    &__order {
        width: 32%;
        padding-top: 17px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 57px;

        .form__title {
            @include fontStyle(16px, 300);
            margin-bottom: 20px;
            color: $bgColorDark;
        }

        .form__input {
            margin-bottom: 20px;
            padding: 13px 17px 16px;
            border: 1px solid $colorNeutralText;
            color: #B1B1B1;

            &:last-child {
                margin-bottom: 23px;
            }

            &::placeholder {
                color: $colorNeutralText;
            }

            &:focus-visible {
                outline-color: $colorContrast;
            }
        }

        .cart__btn {
            @include fontStyle(11px, 300);
            align-self: flex-start;
            padding: 11px 15px;
            color: $colorNeutralText;

            &:hover {
                @extend %btn_hover;
                cursor: pointer;
                border-color: $colorSuperLight;
            }

            &:active {
                @extend %btn_active;
            }
        }
    }

    &__sum {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: #F5F3F3;
        text-align: right;

        .sum__btn {
            @include fontStyle(16px, 300);
            background-color: $colorContrast;
            color: $colorSuperLight;
            border-color: $colorContrast;

            &:hover {
                @extend %btn_active;
                border-color: $colorSuperLight;
                cursor: pointer;
            }

            &:active {
                background-color: $bgColorDark;
            }
        }
    }

    &__total {
        margin-bottom: 17px;
        border-bottom: 1pz solid #E2E2E2;

        &-sub {
            @include fontStyle(11px, 400);
            margin-bottom: 12px;
            color: $colorNeutralText;
        }

        &-main {
            @include fontStyle(16px, 300);
            color: $bgColorDark;

            .price {
                margin-left: 15px;
                font-weight: 700;
                color: $colorContrast;
            }
        }

        .price {
            margin-left: 18px;
        }

    }


}