.header {
    position: relative;
    z-index: 1000;

    &__bg {
        padding-bottom: 18px;
        padding-top: 18px;
        background-color: $bgColorDark;
    }


    &__content {
        @extend %flexCenterBetween;
    }

    &__left {
        @extend %flexCenter;

        .header__logo {
            margin-right: 11px;
        }
    }



    &__right {
        @extend %flexCenter;
        font-size: 26px;
        color: $colorLight;
    }

    &__icon {
        @extend %flexCenter;
        margin-left: 30px;
    }

    &__burger-input {
        display: none;
    }

    #headerBurger:checked~&__nav {
        top: 74px;
    }


    &__cart {
        position: relative;

        &::after {
            @extend %flexCenterCenter;
            content: "5";
            position: absolute;
            top: -9px;
            right: -9px;
            width: 19px;
            height: 19px;
            background-color: $colorContrast;
            color: $colorSuperLight;
            font-size: 12px;
            border-radius: 15px;
        }

    }

    &__nav {
        position: absolute;
        top: -700px;
        right: 0;
        padding: 32px;
        min-width: 232px;
        background-color: $colorSuperLight;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        -webkit-transition: top .7s ease-in-out;
        transition: top .7s ease-in-out;
        z-index: -1;
    }


    &__item:hover {
        cursor: pointer;

        & .header__icon path {
            fill: $colorContrast;
        }

    }


    .nav__title {
        @include fontStyle(14px, 700, normal, normal);
        margin-bottom: 24px;
        color: #000;
    }


    .item__link {
        display: inline-block;
        margin-bottom: 12px;
        color: $colorContrast;
    }

    .sublist__item {
        margin-left: 20px;
        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 20px;
        }
    }



    .nav__item:last-child .sublist__item:last-child {
        margin-bottom: 0;
    }

    .sublist__link {
        color: $colorNeutral;

        &:hover {
            color: $colorContrast;
        }
    }

    .list {
        padding: 0;
        @extend %fontStyle__400_14;
        list-style-type: none;

    }

}