.main {
    margin-bottom: 65px;
    background-color: #F1E4E6;

    &__content {
        @extend %flexCenter;

    }

    &__info {
        padding: 8px 0 8px 16px;
        width: 405px;
        border-left: 12px solid $colorContrast;
    }

    &__img {
        margin-left: -230px;
        margin-right: 4vw;
    }

    &__title {
        @include fontStyle(48px, 900, normal, 37px);

        position: relative;

        color: $bgColorDark;


        &_mini {
            @include fontStyle(32px, 700, normal, normal);
        }

        &_pink {
            color: $colorContrast;
        }
    }
}

.topical {
    margin-bottom: 96px;

    &__content {
        @extend %flexCenterBetween;
        flex-wrap: wrap;
    }

    &__item {
        @extend %flexCenterCenter;
        width: 32%;
        height: 260px;
        position: relative;
        background-color: rgba(33, 22, 22, 0.70);
        transition: background-color 1s ease-out;
        overflow: hidden;

        &:hover {
            background-color: rgba(33, 22, 22, 1);
        }

        &_big {
            width: 100%;
            height: 180px;
            margin-top: 2%;
        }

    }

    &__img {
        height: 100%;
        aspect-ratio: auto;
        z-index: -1;
        transition: all 1s ease-out;
    }

    &__title {
        @include fontStyle(24px, 700, normal, normal);
        position: absolute;
        text-align: center;
        color: $colorContrast;
        z-index: 10;
    }

    &__subtitle {
        @extend %fontStyle__400_16;
        color: $colorSuperLight;
    }

}


.acquisitions {
    &__content {
        @extend %flexCenter;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__title {
        @include fontStyle(30px, 400, normal, normal);
        margin-bottom: 6px;
        color: $bgColorDark;
    }

    &__text {
        @extend %fontStyle__400_14;
        margin-bottom: 48px;
        color: #9F9F9F;
        text-align: center;
    }

    &__list {
        @extend %flexCenterBetween;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    &__item {
        @extend %flexCenterBetween;
        flex-direction: column;
        position: relative;
        width: 32%;
        margin-bottom: 2%;
        overflow: hidden;

        
    }

    .img__block {
        @extend %flexCenterCenter;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #F3EDED;
        transition: all .6s;


        &:hover {
            background-color: rgba(58, 56, 56, 0.86);
            cursor: pointer;

            & .item__photo {
                z-index: -1;
            }

            & .block__btn {
                @extend %flexCenter;
                cursor: pointer;
            }
        }
    }

    .block__btn {
        @extend %fontStyle__400_14;
        display: none;
        position: absolute;
        padding: 11px 13px;
        color: $colorSuperLight;
        background: none;
        border: 1px $colorSuperLight solid;
        transition: all .6s;

        &:hover {
            @extend %btn_hover;
            cursor: pointer;
        }

        &:active {
            @extend %btn_active;
        }
    }

    .btn__icon {
        margin-right: 11px;
    }

    .item__photo {
        width: 100%;
    }

    .item__info {
        padding: 24px 16px;
        background-color: #F8F8F8;
    }

    .item__title {
        @include fontStyle(13px, 400, normal, normal);
        margin-bottom: 16px;
    }

    .item__text {
        @extend %fontStyle__300_14;
        margin-bottom: 16px;
        color: #5D5D5D;
    }

    .item__price {
        @extend %fontStyle__400_16;
        color: $colorContrast;
    }



    &__btn {
        @extend %submitBtn;
        margin-bottom: 95px;
        padding: 15px 39px;
    }
}

.advantages {
    padding: 103px 0;
    background-color: $textColorDark;
    color: #FBFBFB;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        @extend %flexCenterBetween;
        flex-direction: column;
        width: 32%;
        text-align: center;
    }

    &__icon {
        margin-bottom: 28px;
    }

    &__title {
        @include fontStyle(20px, 400, normal, normal);
        margin-bottom: 16px;
    }

    &__text {
        @extend %fontStyle__300_14;
    }
}