@mixin flexCenterJustify($justify) {
    @extend %flexCenter;
    justify-content: $justify;
}


@mixin fontStyle($fontSize, $fontWeight, $fontStyle:normal, $fontHeight:normal) {
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $fontHeight;
}
