
$centerDesctopWidth: 1140px;
$centerTabletWidth: 768px;
$centerMobileWidth: 320px;

$bgColorDark: #222;
$colorContrast: #F16D7F;
$colorNeutral: #6F6E6E;
$colorLight:#E8E8E8;
$colorSuperLight: #fff;
$textColorDark: #222224;
$paginationColor: #c4c4c4;
