@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "vars";
@import "mixins";
@import "base";
@import "header";
@import "index";
@import "product";
@import "catalog";
@import "cart";
@import "log";
@import "subscribe";
@import "footer";














@media (min-width: 1921px) {
    .header__right {
        position: relative;
    }

    .header__nav {
        right: -232px;
    }

}


@media (max-width: 1160px) {
    .center {
        padding-left: 2%;
        padding-right: 2%;
    }

}

/*           Tablet             */

@media (max-width: 1024px) {
    .center {
        min-width: $centerTabletWidth;
    }

    .main__img {
        margin-left: -2%;
        margin-right: 5vw;
        height: 368px;
    }

    .main__title {
        width: 311px;
        font-size: 44px;
        line-height: 30px;
    }

    .main__title_mini {
        font-size: 24px;
    }

    .topical {
        margin-bottom: 110px;
    }

    .topical__item {
        height: 167px;
    }

    .topical__img {
        width: 100%;
    }

    .topical__item_big {
        height: 116px;
    }

    .acquisitions__list {
        margin-bottom: 17px;
    }

    .acquisitions__item {
        width: 49%;

        &:nth-child(3) {
            display: none;
        }
    }

    .acquisitions__title {
        margin-bottom: 3px;
    }

    .acquisitions__text {
        margin-bottom: 74px;
    }

    .acquisitions__btn {
        margin-top: 0px;
        margin-bottom: 64px;
    }


    .advantages {
        padding: 48px 0 64px;
    }

    .advantages__content {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .advantages__item {
        width: 48%;
        margin-bottom: 48px;
    }

    .advantages__item:last-child {
        margin-bottom: 0;
    }

    .subscribe {
        padding: 64px 0 140px;
    }

    .subscribe__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe__left {
        width: 47%;
        margin-bottom: 48px;
    }

    .subscribe__right {
        width: 72%;
        text-align: center;
    }

    .subscribe__form {
        justify-content: center;
    }


    .sample__content {
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 40px;
    }

    .sample__sort {
        margin-right: 0;
        justify-content: flex-end;
        flex-grow: 1;
    }

    .sample__pagination {
        margin-top: 8px;
    }

    .sample__pagination-list {
        width: 38%;
        max-width: 283px;
        margin-bottom: 63.5px;
    }

    .arrivals__content {
        top: 0;
        left: -2%;
        width: 100vw;
    }

    .arrivals .acquisitions {
        margin-bottom: 96px;
    }

    .cart {
        padding-top: 59px;
        flex-wrap: wrap;
        justify-content: center;

        &__info {
            width: 100%;
            max-width: $centerTabletWidth;

            &-box {
                margin: 62px 0 64px;

            }
        }

        &__order {
            width: 100%;
            max-width: $centerTabletWidth;
            align-items: flex-start;
            display: flex;
            justify-content: center;
            gap: 16px;
            
        }

        &__form {
            flex-grow: 1;
           
        }

        &__sum {
            margin-top: 39px;
        }
    }
}

/*           Mobile             */

@media (max-width: 767px) {
    .center {
        min-width: $centerMobileWidth;
    }

    .header__nav {
        width: 100vw;
    }


    .header__item:active {
        cursor: pointer;
    }

    .header__item:active .header__icon path {
        fill: $colorContrast;
    }

    .header__burger:active+.header__nav {
        top: 50px;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav__item {
        width: 50%;
    }

    .header__user,
    .header__cart {
        display: none;
    }

    .main__content {
        min-height: 363px;

        justify-content: center;
    }

    .main__info {
        width: 263px;
    }

    .main__img {
        display: none;
    }

    .main__title {
        font-size: 38px;
        line-height: 24px;
    }

    .main__title_mini {
        font-size: 20px;
    }

    .topical {
        margin-bottom: 32px;
    }

    .topical__content {
        justify-content: center;
        align-items: stretch;
    }

    .topical__item:active {
        background-color: rgba(33, 22, 22, 1);
    }

    .topical__item {
        margin-bottom: 4%;
        width: 100%;
        max-width: 400px;
        height: 248px;
    }

    .topical__item_big {
        margin-top: 0;
        height: 111px;
    }

    .acquisitions__text {
        margin-bottom: 64px;
    }

    .acquisitions__list {
        margin-bottom: 41px;
        justify-content: center;
    }

    .acquisitions__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 4%;
    }

    .acquisitions__btn {
        margin-bottom: 85px;
    }

    .advantages {
        padding-bottom: 81px;
    }

    .advantages__item {
        width: 100%;
        margin-bottom: 48px;
    }

    .subscribe {
        padding-bottom: 110px;
    }

    .subscribe__left,
    .subscribe__right {
        width: 100%;
    }

    .subscribe__input {
        width: 85%;
    }

    .footer {
        padding: 43px 0 9px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__text,
    .footer__social {
        width: 100%;
        text-align: center;
    }

    .footer__social {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        order: -1;
    }

    .social__list {
        justify-content: center;
    }
}