@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "vars";
@import "mixins";
@import "base";
@import "header";
@import "index";
@import "product";
@import "catalog";
@import "cart";
@import "log";
@import "subscribe";
@import "footer";














@media (min-width: 1921px) {
    .header__right {
        position: relative;
    }

    .header__nav {
        right: -232px;
    }

}


@media (max-width: 1160px) {
    .center {
        padding-left: 2%;
        padding-right: 2%;
    }

}

/*           Tablet             */

@media (max-width: 1024px) {
    .center {
        min-width: $centerTabletWidth;
    }

    .main {
        &__img {
            margin-left: -2%;
            margin-right: 5vw;
            height: 368px;
        }

        &__title {
            width: 311px;
            font-size: 44px;
            line-height: 30px;
        }

        &__title_mini {
            font-size: 24px;
        }
    }

    .topical {
        margin-bottom: 110px;


        &__item {
            height: 167px;
        }

        &__img {
            width: 100%;
        }

        &__item_big {
            height: 116px;
        }
    }

    .acquisitions {
        &__list {
            margin-bottom: 17px;
        }

        &__item {
            width: 49%;

            &:nth-child(3) {
                display: none;
            }
        }

        &__title {
            margin-bottom: 3px;
        }

        &__text {
            margin-bottom: 74px;
        }

        &__btn {
            margin-top: 0px;
            margin-bottom: 64px;
        }
    }


    .advantages {
        padding: 48px 0 64px;


        &__content {
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }

        &__item {
            width: 48%;
            margin-bottom: 48px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }
    }

    .subscribe {
        padding: 64px 0 140px;


        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__left {
            width: 47%;
            margin-bottom: 48px;
        }

        &__right {
            width: 72%;
            text-align: center;
        }

        &__form {
            justify-content: center;
        }
    }


    .sample {
        &__content {
            justify-content: space-between;
            padding-top: 24px;
            padding-bottom: 40px;
        }

        &__sort {
            margin-right: 0;
            justify-content: flex-end;
            flex-grow: 1;
        }

        &__pagination {
            margin-top: 8px;
        }

        &__pagination-list {
            width: 38%;
            max-width: 283px;
            margin-bottom: 63.5px;
        }
    }

    .arrivals {
        &__content {
            top: 0;
            left: -2%;
            width: 100vw;
        }

        &__carousel {
            &-item {


                &.active {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    height: 565px;
                }
            }

            &-inner {
                height: 624px;
            }

        }

        & .acquisitions {
            margin-bottom: 96px;
        }
    }

    .cart {
        padding-top: 59px;
        flex-wrap: wrap;
        justify-content: center;

        &__info {
            width: 100%;
            max-width: $centerTabletWidth;

            &-box {
                margin: 62px 0 64px;

            }
        }

        &__order {
            width: 100%;
            max-width: $centerTabletWidth;
            align-items: flex-start;
            display: flex;
            justify-content: center;
            gap: 16px;

        }

        &__form {
            flex-grow: 1;

        }

        &__sum {
            margin-top: 39px;
        }
    }

    .log {

        padding-top: 40px;

        &-left {
            width: 49%;
            max-width: 360px;
        }

        &-right {
            width: 49%;
        }

        &-right,
        &__title {
            font-size: 16px;
        }
    }
}

/*           Mobile             */

@media (max-width: 767px) {
    .center {
        min-width: $centerMobileWidth;
    }

    .header__nav {
        width: 100vw;
    }


    .header__item:active {
        cursor: pointer;
    }

    .header__item:active .header__icon path {
        fill: $colorContrast;
    }

    .header__burger:active+.header__nav {
        top: 50px;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav__item {
        width: 50%;
    }

    .header__user,
    .header__cart {
        display: none;
    }

    .main__content {
        min-height: 363px;

        justify-content: center;
    }

    .main__info {
        width: 263px;
    }

    .main__img {
        display: none;
    }

    .main__title {
        font-size: 38px;
        line-height: 24px;
    }

    .main__title_mini {
        font-size: 20px;
    }

    .topical {
        margin-bottom: 32px;
    }

    .topical__content {
        justify-content: center;
        align-items: stretch;
    }

    .topical__item:active {
        background-color: rgba(33, 22, 22, 1);
    }

    .topical__item {
        margin-bottom: 4%;
        width: 100%;
        max-width: 400px;
        height: 248px;
    }

    .topical__item_big {
        margin-top: 0;
        height: 111px;
    }

    .acquisitions__text {
        margin-bottom: 64px;
    }

    .acquisitions__list {
        margin-bottom: calc(41px - 4%);
        justify-content: center;
    }

    .acquisitions__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 4%;
    }

    .acquisitions__btn {
        margin-bottom: 85px;
    }

    .advantages {
        padding-bottom: 81px;
    }

    .advantages__item {
        width: 100%;
        margin-bottom: 48px;
    }

    .subscribe {
        padding-bottom: 110px;
    }

    .subscribe__form {
        width: 91%;
        max-width: 341px;
    }



    .subscribe__left,
    .subscribe__right {
        width: 100%;
    }

    .subscribe__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe__input {
        width: 85%;
    }

    .footer {
        padding: 43px 0 9px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__text,
    .footer__social {
        width: 100%;
        text-align: center;
    }

    .footer__social {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        order: -1;
    }

    .social__list {
        justify-content: center;
    }


    .arrivals {
        &__head-content {
            flex-direction: column;
            justify-content: center;
            padding-top: 24px;
            padding-bottom: 46px;
        }

        &__title {
            margin-bottom: 32px;
        }

        &__carousel {
            &-item {

                img {
                    height: 454px;
                }
            }
        }

        &__about {
            margin-bottom: 64px;
        }

        &__info {
            width: calc(100% - 4%);
            margin-bottom: 49px;
        }

        &__subtitle {
            margin-bottom: 32px;
        }

        &__text {
            line-height: 143.1%
        }

        &__price {
            margin-bottom: 32px;
        }

        &__selection {
            &-block {
                margin-bottom: 64px;
            }
        }

        &__select {
            font-size: 10px;

            &-icon {
                margin-left: 10px;
            }
        }

        & .acquisitions {
            margin-bottom: calc(64px - 26px - 4%);
        }

    }

    .sample {
        &__content {
            align-items: center;
        }

        &__filter {
            width: 20%;

            &-title {
                margin-left: 16px;

                & span {
                    display: none;
                }
            }

            &-icon {
                width: 37px;
                height: 25px;
                margin-left: 5px;


            }

            &-box[open] &-icon {
                margin-left: 0px;
            }

            &-content {
                width: 230px;
                padding-top: 66px;

            }
        }

        &__sort {
            width: 80%;
            font-size: 12px;
        }

        &__pagination {
            &-list {
                width: 70%;
            }

        }
    }

    .arrivals__head-content_cart {
        padding: 50px 0 69px;
    }

    .arrivals__title_cart {
        margin-bottom: 0;
    }

    .cart {
        padding-top: 39px;
        padding-bottom: 96px;
        max-width: 600px;

        &__info {


            &-item:not(:last-child) {
                margin-bottom: 32px;
            }

            .item {
                &__info {
                    padding: 13px 17px;

                    &-heading {
                        margin-bottom: 25px;
                    }

                    &-title {
                        font-size: 16px;
                    }

                    &-list {
                        font-size: 14px;
                    }
                }

                &__icon_close {
                    width: 10px;
                    height: 12px;
                }

                &__img {
                    height: 188px;
                }

                &__list-item input {
                    width: 24px;
                    font-size: 10px;
                }
            }

            &-box {
                margin: 30px 0 48px;
            }


        }

        &__btn {
            @include fontStyle(12px, 400);
            padding: 10px 18px;
            width: 49%;
            max-width: 180px;
            color: #575757;
            text-transform: none;
        }

        &__order {
            flex-direction: column;
            align-items: stretch;
        }

        &__form {
            margin-bottom: 48px;

            .cart__btn {
                font-weight: 400;
                color: #575757;
                width: auto;

            }
        }

        &__sum {
            margin-top: 0;

            .sum__btn {
                width: 100%;
                max-width: 280px;
                padding: 15px 42px;
                align-self: center;
                letter-spacing: -0.5px;
            }
        }


    }

    .log {
        flex-direction: column;
        align-items: center;

        &-left,
        &-right {
            width: 100%;
            max-width: 360px;
        }

        &-right {
            margin-top: 40px;
        }
    }
}