@import url("fonts/Gilroy-Medium/style.css");
@import url("fonts/Gilroy-Bold/style.css");
@import url("fonts/Gilroy-Semibold/style.css");
@import url("fonts/Gilroy-Regular/style.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #F25822;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 40px;
    margin-bottom: 84px;
}

.header__logo {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.logo__image {
    margin-right: 14px;
}

.logo__color {
    color: #F25822;
}

.header__nav {
    padding: 12px 0;

}

.header__link {
    margin-left: 25px;
    color: #000;
    font-weight: 700;
    font-size: 14px;
}



.header__link i {
    margin-left: 4px;
    font-size: 10px;
}

.top__content {
    margin: 84px 0 162px;
    display: flex;
    justify-content: flex-start;
}

.top__info {
    width: 47%;
    margin-right: 40px;
}

.title {
    margin-bottom: 17px;
    font-size: 60px;
    font-weight: 700;
}

.top__text {
    width: 85%;
    color: #888;
    font-size: 20px;
    font-weight: 500;
}

.top__nav {
    margin-top: 37px;

}

.btn {
    padding: 16px 36px;
    border: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}


.btn:hover {
    outline: 1px solid #F25822;
    background: #fff;
    color: #F25822;
}

.top__btn {
    margin-right: 72px;
    font-size: 15px;
}



.top__link {
    border: none;
    background: none;
    color: #aaa;
    font-size: 15px;
    font-weight: 600;
}

.top__link:hover {
    color: #F25822;
}



.top__logos {
    padding: 97px 0;
}

.about {
    background-color: #FAFAFA;
    padding-top: 127px;
}

.about__title {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

.about__text {
    margin-bottom: 35px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.about__img {
    margin-top: -152px;
    margin-bottom: -37px;
    margin-right: -125px;
}
.features {
    padding: 100px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
}

.features__item {
    padding: 40px 30px 25px;

}

.features__item:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature__img {
    margin-bottom: 25px;
}

.feature__title {
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: 700;
}

.feature__text {
    margin-bottom: 25px;
    color: #666;
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
}

.feature__link {
    color: #000;
    font-size: 11px;
    font-weight: 700;
    line-height: 150%
}

.dir-colum {
    flex-direction: column;
    align-items: center;
}

.services {
    padding: 92px 0 100px;
    background-color: #FAFAFA;
}

.services__title {
    margin-bottom: 19px;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.services__text {
    margin-bottom: 54px;
    width: 60%;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}


.services__item {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    text-align: center;
}

.services__item:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.pos_img {
    margin-top: 15px;
}

.services__subtitle {
    margin: 26px 0 22px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.text {
    margin: 0 30px 39px;
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.services__btn {
    font-size: 13px;
}

.services__btn i {
    margin-left: 6px;
}